/* You can add global styles to this file, and also import other style files */
footer,
section {
  font-family: 'Inter', sans-serif;
}

header {
  font-family: 'Kaisei Decol', serif !important;
}

#root {
  height: 100vh;
  position: relative
}