<div class="w-50">
  <table class="table">
    <thead class="bg-dark text-light" alt="Encabezado de la tabla">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre común</th>
        <th scope="col">Tipo</th>
        <th scope="col">Clima</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let planta of plantas">
        <th scope="row">{{ planta.id }}</th>
        <td class="text-dark">{{ planta.nombre_comun }}</td>
        <td class="text-dark">{{ planta.tipo }}</td>
        <td class="text-dark">{{ planta.clima }}</td>
      </tr>
    </tbody>
  </table>
  <span class="d-block">Total de plantas de interior: {{ totalInterior }}</span>
  <span class="d-block">Total de plantas de exterior: {{ totalExterior }}</span>
</div>
